
.card {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $shadow;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
}
.card h2{
  margin: 0;
}
.card-img {
  background-position: center;
  background-size: $thumbnail auto;
  height: $thumbnail;
  width: $thumbnail;
  border-radius: 0.5rem;
  border: 2px solid $light;
}
.vertical{
height:25rem !important;
}
// .card *{
//   border: 1px solid #000;
// }
.card-body.add-location {
  padding: 0;
}

.card.mini{
  text-align:center;
  height:6.5rem !important;
  padding: 0.25rem;
  .card-img-top{
    font-size:2rem;
    color:$grey;
    height: 2rem;
    margin-top: 0rem;
  }
  h2{ 
    font-size:0.6rem;
    font-weight: normal !important;
  }
}

@media (max-width: 600px) {
  .card{
    margin: 5%;
  }
  .card.mini{
    height:9rem !important;
    h2{ 
      font-size: 1rem !important;
    }
  }
  .card-img-top{
    margin-left: -20%;
    width: 140%;
  }
}