.card {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $shadow;
  padding: 1rem;
  background-color: $lighter;
  border-radius: 0.5rem;
}
.card-min{ 
  min-height: 9rem;
}
.card-img {
  width: 5rem;
  margin-right: 1rem;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid $grey;
}

.card-body {
  padding: 0;
  min-height: 7rem;
}

.card-body a {
  color: grey;
  float: right;
  text-decoration: none;
  min-height: 3em;
}

.card-text {
  width: 100%;
  padding: 0.5rem 0.5rem 0 7rem;
}