
.card {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $shadow;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
}
.card h2{
  margin: 0;
}
.card-img {
  background-position: center;
  background-size: $thumbnail auto;
  height: $thumbnail;
  width: $thumbnail;
  border-radius: 0.5rem;
  border: 2px solid $light;
}
.vertical{
height:25rem !important;
}
// .card *{
//   border: 1px solid #000;
// }
.card-body.add-location {
  padding: 0;
}