
label {
  margin-left: 0;
}

.container {
  margin: 0 auto;
  box-shadow: none !important;
}

.flex{
  display: flex;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.row{
  clear: left;
  float: left;
}

.flex-cont{
  display:flex;
  width: 100%;
}

.flex-cont>div>div{
  margin: 0.5rem;
}


ul.get-started{
  display: flex;
  list-style: none;
  gap: 1rem; 
}

.avatar{
  width:2rem; 
  border-radius:50%
}

.ml-auto{
    margin-left: auto;
}
.navbar{
    background-color: $dark;
    a{
        color: $lighter;
        text-decoration: none;
        padding: 0.5rem;
    }
}
.navbar-brand{
  margin-left: 1rem;
}
.subnav{
    background-color: $grey;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 4px $shadow;
    display: block;
    height: 0.75rem;
    margin-bottom: 2rem;
    margin-TOP: 3px solid red !important;
    a, a:hover{
        color:$lighter;
    }
}

.footer{
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-stripe{
  height: 0.25rem;
}

.btn-google {
    color: $dark;
    background-color: $lighter;
    box-shadow: 0 1px 2px 1px $dark;
}
