#location {
  width: 100%;
  position: relative;
  top: 0;
}

#bg-img {
  width: 800px;
  border-radius: 1rem;
}

.site {
  width: 2rem;
  position: absolute;
  border-radius: 50%;
}

.site .comment {
  display: none;
  width: 10rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  color: #000;
  border-radius: 1rem;
  border: 1px solis #fff;
}

.site .comment-reveal {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  left: 2rem;
  position: absolute;
  top: 1rem;
}

.site .comment-reveal:hover .comment {
  display: block;
}

.site .count {
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 1rem;
  width: 1.25rem;
  padding-left: 0.25rem;
  position: relative;
  left: -0.25rem;
  height: 1.25rem;
}

.site .count-no {
  position: relative;
  top: -0.25rem;
}

.option-hide {
  display: none;
}

.rating {
  float: left;
  width: 100%;
  padding-left: 1rem;
}

.rating label {
  display: block;
  float: left;
  height: 2rem;
  width: 100%;
  margin: 0.25rem;
  text-align: center;
}

.rating .item {
  width: 25%;
  display: block;
  float: left;
}

.rating .item label:active {
  border: 5px solid white;
  padding-top: 0;
}

.rating .item label {
  margin: 0.25rem 0;
  padding-top: 0.25rem;
}

.add-location .row {
  width: 100% !important;
}

.radioBtns {
  display: none;
}

.btn-primary {
  margin: 1rem auto;
}

.modal {
  background-color: rgba(50, 50, 50, 0.7);
}

.marker-update {
  font-size: 0.7rem;
}

.site0 {
  background-color: #198754;
}

.site1 {
  background-color: #0dcaf0;
}

.site2 {
  background-color: #ffc107;
}

.site3 {
  background-color: #dc4535;
}

@media (max-width: 600px) {
  .view-delete * {
    float: left;
    clear: left;
  }
}
