.card {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(32, 32, 32, 0.9);
  padding: 1rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

.card-min {
  min-height: 9rem;
}

.card-img {
  width: 6rem;
  margin-right: 1rem;
  position: absolute;
  clip: rect(1rem, 6rem, 6rem, 1rem);
}

.card-body {
  padding: 0;
  min-height: 7rem;
}

.card-body a {
  color: grey;
  float: right;
  text-decoration: none;
  min-height: 3em;
}

.card-text {
  width: 100%;
  padding: 0.5rem 0.5rem 0 7rem;
}

#location {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#bg-img {
  width: 100%;
  border-radius: 1rem;
}

.site {
  width: 2rem;
  position: absolute;
}

.location .submit {
  width: auto;
}

.rating {
  float: left;
  width: 100%;
}

.rating-item {
  width: 25%;
  display: block;
  float: left;
}

.rating.row {
  padding-left: 1rem;
}

.rating label, .add-location label {
  display: block;
  height: 2rem;
  float: left;
  text-align: center;
}

.rating label {
  width: 100%;
}

.add-location label {
  width: auto;
}

.rating-item label:active {
  border: 2px solid white;
  background-color: #999;
}

.radioBtns {
  display: none;
}

.btn-primary {
  margin: 1rem auto;
}

.modal-bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  animation-duration: 1s;
  animation-name: kevin;
  background-color: #eee;
  border-radius: 1rem;
  position: relative;
  top: -25rem;
  width: 90%;
  margin: 0 5%;
  border: 1px solid grey;
}

@keyframes kevin {
  from {
    top: -35rem;
    opacity: 0%;
  }
  to {
    top: -25rem;
    opacity: 70%;
  }
}

.rating label {
  width: 100%;
  padding-top: 0.25rem;
}

#modal-container {
  background-color: rgba(0, 0, 0, 0.7);
}

.marker-update {
  font-size: 0.7rem;
}

.site {
  border-radius: 50%;
}

.site0 {
  opacity: 1;
  box-shadow: 5px 5px 2px green;
}

.site1 {
  opacity: 0.9;
  box-shadow: 5px 5px 2px blue;
}

.site2 {
  opacity: 0.8;
  box-shadow: 5px 5px 2px yellow;
}

.site3 {
  opacity: 0.7;
  box-shadow: 5px 5px 2px red;
}

.buttons {
  float: right;
}

body {
  font-size: 16px;
  background-color: #eee;
  color: #212121;
}

h1 {
  color: #999;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

label {
  margin-left: 0;
}

.container {
  margin: 0 auto;
  max-width: 30rem;
  min-width: 20rem;
  box-shadow: none !important;
}

footer {
  margin-bottom: 0.25rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #212121;
}

ul.get-started {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.darkmode--activated .card, .darkmode--activated .modal {
  background-color: #212121;
  color: #eee;
}

.darkmode--activated .card *, .darkmode--activated .modal * {
  color: #eee;
}

.darkmode--activated .card input[type="text"], .darkmode--activated .card input[type="password"], .darkmode--activated .card input[type="email"], .darkmode--activated .modal input[type="text"], .darkmode--activated .modal input[type="password"], .darkmode--activated .modal input[type="email"] {
  background-color: #212121;
}

.avatar {
  width: 30px;
  border-radius: 50%;
}

.ml-auto {
  margin-left: auto;
}

.navbar {
  background-color: #212121;
}

.navbar a {
  color: #eee;
  text-decoration: none;
  padding: 0.5rem;
}

.sub-nav {
  margin-bottom: 3rem;
  background-color: #666;
  box-shadow: 0 2px 4px rgba(32, 32, 32, 0.9);
}

.sub-nav a, .sub-nav a:hover {
  color: #eee;
}

.btn-google {
  color: #212121;
  background-color: #eee;
  box-shadow: 0 1px 2px 1px #212121;
}

.darkmode--activated .btn-google {
  color: #999;
  background-color: #212121;
  box-shadow: 0 1px 2px 1px #999;
}
