@import '~bootstrap/scss/bootstrap';
@import 'variables.scss'; 
@import 'card.scss';
@import 'location.scss';
@import 'dark-mode.scss';
@import 'classes.scss';

body {
    background-color: $lighter;
    color: $dark;
} 

// body *{
//   border: 1px solid #000;
// }

h1,h2,h3,.navbar-brand{
  font-family: 'Mochiy Pop P One', sans-serif;
}

h1 { 
  color:$light;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
} 

h3 {
  font-size: 1.2rem;
}

header{
  padding: 0;
}

main{
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $shadow;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  float: left;
  width: 100%;
}

footer {
  margin-top: 0 !important;
  margin-bottom: 0.25rem;
  background-color: $lighter;
  border-radius: 0 0 0.5rem 0.5rem;
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    li{
      margin: 0.5rem;
      a{
        text-decoration: none;
        text-align: center;
        display: block;
        color: $lighter;
      }
    }
  }
} 
header, .container, footer, .subnav, .footer, .nav-stripe{
  clear: left;
}