@import '~bootstrap/scss/bootstrap';
@import 'variables.scss'; 
@import 'card.scss';
@import 'location.scss';

body {
    background-color: $lighter;
    color: $dark;
}

h1 { 
  color:$light;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
} 

h3 {
  font-size: 1.2rem;
}

label {
  margin-left: 0;
}

.container {
  margin: 0 auto;
  box-shadow: none !important;
}

.flex{
  display: flex;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.row{
  clear: left;
  float: left;
}

.flex-cont{
  display:flex;
  width: 100%;
}

.flex-cont>div>div{
  margin: 0.5rem;
}
header{
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: 0 2px 4px $shadow;
  border-radius: 0.5rem;
}

footer {
  margin-top: 0 !important;
  margin-bottom: 0.25rem;
  background-color: $lighter;
  border-radius: 0 0 0.5rem 0.5rem;
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    li{
      margin: 0.5rem;
      a{
        text-decoration: none;
        text-align: center;
        display: block;
        color: $lighter;
      }
    }
  }
} 
ul.get-started{
  display: flex;
  list-style: none;
  gap: 1rem; 
}

.avatar{
  width:2rem; 
  border-radius:50%
}

.ml-auto{
    margin-left: auto;
}
.navbar{
    background-color: $dark;
    a{
        color: $lighter;
        text-decoration: none;
        padding: 0.5rem;
    }
}
.navbar-brand{
  margin-left: 1rem;
}
.subnav{
    background-color: $grey;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 4px $shadow;
    display: block;
    height: 0.75rem;
    margin-bottom: 2rem;
    margin-TOP: 3px solid red !important;
    a, a:hover{
        color:$lighter;
    }
}

.footer{
  margin-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-stripe{
  height: 0.25rem;
}

.btn-google {
    color: $dark;
    background-color: $lighter;
    box-shadow: 0 1px 2px 1px $dark;
}

.darkmode--activated .btn-google{
    color: $light;
    background-color: $dark;
    box-shadow: 0 1px 2px 1px $light;

}

.darkmode--activated .card, .darkmode--activated .modal{
  background-color: $dark;
  color: $lighter;
  *{
    color: $lighter;
  }
  input[type="text"], input[type="password"], input[type="email"]{
    background-color: $dark;
  }
} 
header, .container, footer, .subnav, .footer, .nav-stripe{
  clear: left;
}